.title{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 6px;
    
}

.con h3{
    margin-left: 1%;
    letter-spacing: 0.5px;
    font-size: 22px;
}

.proj{
    background-color: white;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
    border-radius: 13px;
    margin-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.proj:hover{
    background-color: rgb(232, 232, 232);
}



.proj img{
    position: absolute;
    margin-left: 1%;
    border-radius: 5px;
    padding: 0;
}

.tex{
    margin-left: 7.3%;
    overflow: hidden;
}


.proj h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
}

.proj p{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(84, 84, 84);
}

.infor{
    margin-top: 0.3%;
}

.lang{
    float: right;
   margin-top: -5%;
   margin-right: 2%;
   color: rgb(195, 1, 1);
}

#background-video {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1; 
    opacity: 18%;
  }


  

  .lebon{
    margin-top: 0.7%;
  }

  .arduino{
  
margin-top: 0.3%;
  
  }

  .browser{
    margin-top: 0.7%;
    
  }





  
 
  .wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    margin-left: 44%;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #d2c7b6;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  

  a{
    color: inherit;
    text-decoration: inherit;
  }

  .con p{
    margin-left: 1.6%;
    margin-top: -1.5%;
  }

